@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    direction: rtl;
    font-family: "Secular One", sans-serif;
    background-color: #363636;
    padding-bottom: 200px;
}

h1 {
    text-align: center;
    color: white;
}

.frame {
    width: 80%;
    max-width: 900px;
    min-height: 300px;
    background-color: #ffffffc9;
    margin: auto;
    padding: 8px 16px;
    border-radius: 6px;
}

h2 {
    padding: 8px;
    border-bottom: 1px solid #c5c5c5;
    color: #4d4d4d;
}

.Square {
    height: 200px;
    width: 200px;
    background-color: chocolate;
}

.Circle {
    height: 200px;
    width: 200px;
    background-color: darkorchid;
    border-radius: 50%;
}

.Triangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid darkblue;
}

.Ellipse {
    height: 100px;
    width: 200px;
    background-color: #32c7cc;
    border-radius: 50%;
}

.Rectangle {
    height: 100px;
    width: 200px;
    background-color: #32cc5e;
    padding: 10px;
}

.TriangleNoBg {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid #0000ff;
    position: relative;
}

.TriangleNoBg::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    margin: auto;
    transform: translate(50%, 13px);
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 180px solid #d3d3d3;
}
