body {
    /* רקע */
    background-color: #d28a3c;
    /* גופן */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* כיוון האתר */
    direction: rtl;
}

h1 {
    /* צבע טקסט */
    color: white;
    /* גודל טקסט */
    font-size: 36px;
    /* יישור טקסט */
    text-align: center;
}

.frame {
    /* רקע */
    background-color: white;
    /* רוחב */
    width: 90%;
    /* רוחב מקסימלי */
    max-width: 900px;
    /* גובה התחלתי */
    min-height: 500px;
    /* מרכוז אלמנט */
    margin: auto;
    /* עיגול קצוות */
    border-radius: 5px;
    /* ריווח פנימי */
    padding: 12px;
}

.frame>div {
    width: 150px;
    height: 150px;
    margin: 16px;
    display: inline-block;
}

.frame>div:first-child {
    background-color: brown;
    border-radius: 25px;
}

.frame>div:nth-child(2) {
    background-color: blueviolet;
    border-radius: 50%;
}