@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

body {
    direction: rtl;
    background-color: #232323;
}

* {
    font-family: 'Rubik', sans-serif !important;
}

h1 {
    text-align: center;
    color: white;
    margin: 16px;
}

.frame {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    gap: 16px;
    text-align: center;
    padding: 0 16px;
}

.frame .player {
    background-color: white;
    border-radius: 6px;
    min-height: 100%;
    
}

.frame .player header {
    background-color: rgb(243, 182, 0);
    border-radius: 6px 6px 0 0;
    font-size: 20px;
    padding: 6px 0;
}

.frame .board {
    background-color: white;
    border-radius: 6px;
    min-height: 500px;
}