@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

body {
    direction: rtl;
    background-color: #232323;
}

* {
    font-family: 'Rubik', sans-serif !important;
}

h1 {
    text-align: center;
    color: white;
    margin: 16px;
}

.frame {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    gap: 16px;
    text-align: center;
    padding: 0 16px;
}

.frame .player {
    background-color: white;
    border-radius: 6px;
    min-height: 100%;

}

.frame .player header {
    background-color: rgb(243, 182, 0);
    border-radius: 6px 6px 0 0;
    font-size: 20px;
    padding: 6px 0;
}

.frame .board {
    background-color: white;
    border-radius: 6px;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    padding: 24px 12px;
}

.card {
    width: 100px;
    height: 100px;
    background: antiquewhite;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}

.card:hover {
    scale: 1.1;
}

.card i {
    font-size: 40px;
    font-style: normal;
}

.card p {
    margin: 5px;
}

.card * {
    display: none;
}

.card.show {
    box-shadow: 0 0 5px #60606094;
    transform: matrix3d(1, 0, 4, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1);
}

.card.show * {
    display: block;
}