@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    direction: rtl;
    font-family: "Secular One", sans-serif;
    background-color: #0fa5bc;
    padding-bottom: 200px;
}

h1 {
    text-align: center;
    color: white;
}

.frame {
    width: 80%;
    max-width: 900px;
    min-height: 300px;
    background-color: #ffffffc9;
    margin: auto;
    padding: 8px 16px;
    border-radius: 6px;
}

h2 {
    padding: 8px;
    border-bottom: 1px solid #c5c5c5;
    color: #4d4d4d;
}

.grid {
    display: grid;
}

.grid div {
    background-color: #017d90;
    border: 1px solid;
    padding: 3px 6px;
    text-align: center;
}

.ex1 {
    grid-template-columns: 1fr 1fr;
}

.ex2 {
    grid-template-columns: repeat(3, 1fr);
}

.ex3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.ex4 {
    grid-template-columns: 50px 1fr 30px;
}

.ex5, .ex6 {
    grid-template-columns: repeat(3, 1fr);
}

.ex5 div:nth-child(4) {
    background-color: coral;
    grid-column: 1 / 3;
}

.ex6 div:nth-child(4) {
    background-color: coral;
    grid-row: 2 / 4;
}

.ex7 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 50px;
}

.ex7 div {
    position: relative;
    border: 2px dotted;
    min-height: 22px;
    direction: ltr;
}

.ex7 div:nth-child(7) {
    grid-column: 2 / 4;
    background-color: coral;
}

.ex7 div:nth-child(18) {
    grid-column: 3 / 5;
    grid-row: 4 / 6;
    background-color: coral;
}