body {
    /* רקע */
    background-color: #d28a3c;
    /* גופן */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* כיוון האתר */
    direction: rtl;
}

h1 {
    /* צבע טקסט */
    color: white;
    /* גודל טקסט */
    font-size: 36px;
    /* יישור טקסט */
    text-align: center;
}

.frame {
    /* רקע */
    background-color: white;
    /* רוחב */
    width: 90%;
    /* רוחב מקסימלי */
    max-width: 900px;
    /* גובה התחלתי */
    min-height: 500px;
    /* מרכוז אלמנט */
    margin: auto;
    /* עיגול קצוות */
    border-radius: 5px;
    /* ריווח פנימי */
    padding: 12px;
}

.frame>div {
    width: 150px;
    height: 150px;
    margin: 16px;
    display: inline-block;
}

.frame>div:first-child {
    background-color: brown;
    border-radius: 25px;
}

.frame>div:nth-child(2) {
    background-color: blueviolet;
    border-radius: 50%;
}

.frame>div:nth-child(3) {
    background-color: #338100;
    border-radius: 50% 0;
}

.frame>div:nth-child(4) {
    background-color: #004581;
    border-radius: 30px;
    border-top-right-radius: 0;
}

.frame>div:nth-child(5) {
    background-color: darkorange;
    border-radius: 100% 0 0 0;
}

.frame>div:nth-child(6) {
    background-color: yellowgreen;
    border-radius: 14% 100px;
}

.frame>div:nth-child(7) {
    border-radius: 50%;
    border: 16px solid gray;
    box-sizing: border-box;
}

.frame>div:nth-child(8) {
    background-color: #3d341f;
    border-radius: 50% 50% 0 0;
}
