/* ייבוא גופן ממקור חיצוני */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    /* כיוון האתר מימין לשמאל */
    direction: rtl;
    /* שינוי גופן לאתר */
    font-family: "Secular One", sans-serif;
    /* רקע */
    background-color: #00c382;
    padding-bottom: 200px;
}

h1 {
    /* יישור טקסט */
    text-align: center;
    /* צבע הטקסט */
    color: white;
}

.frame {
    /* רוחב */
    width: 80%;
    /* מקסימום רוחב */
    max-width: 900px;
    /* מינימום גובה */
    min-height: 300px;
    /* רקע */
    background-color: #ffffffc9;
    /* ריווח חיצוני אוטומטי (גורם למרכוס האלמנט) */
    margin: auto;
    /* ריווח פנימי של האלמנט */
    padding: 8px 16px;
    /* עיגול קצוות */
    border-radius: 6px;
}

.frame {
    padding-bottom: 50px;
}

h2 {
    padding: 8px;
    border-bottom: 1px solid rgb(197, 197, 197);
    color: #4d4d4d;
    margin: 40px 0 8px 0;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #c9f2e5;
}

.divFrame div {
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid #00c382;
    background-color: white;

}

#moveRight {
    background-color: #00c382;
    position: relative;
    top: 30px;
    left: 30px;
}

#moveLeft {
    background-color: #00c382;
    position: relative;
    top: -30px;
    left: -30px;
    z-index: 1;
}

.bigDiv {
    width: 600px;
    height: 300px;
    background-color: #c1c1c1;
    margin: auto;
    position: relative;
}

.bigDiv div {
    width: 100px;
    height: 60px;
    position: absolute;
}

.bigDiv div:first-child {
    background-color: blue;
    top: 100px;
    left: 40px;
}

.bigDiv div:last-child {
    background-color: red;
    top: 150px;
    left: 350px;
}

#topLayer {
    z-index: 1;
    position: relative;
}