@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    direction: rtl;
    font-family: "Secular One", sans-serif;
    background-color: #007cc3;
    padding-bottom: 200px;
}

h1 {
    text-align: center;
    color: white;
}

.frame {
    width: 80%;
    max-width: 900px;
    min-height: 300px;
    background-color: #ffffffc9;
    margin: auto;
    padding: 8px 16px;
    border-radius: 6px;
}

h2 {
    padding: 8px;
    border-bottom: 1px solid rgb(197, 197, 197);
    color: #4d4d4d;
}

img {
    width: 412px;
    float: right;
    margin: 0 0 20px 20px;
    border: 20px solid white;
    box-shadow: 0 0 6px #b1b1b1;
}

.square {
    height: 150px;
    width: 150px;
    border: 2px solid #0051c3;
    background-color: white;
    float: right;
    margin: 3px;
}

p {
    background-color: aquamarine;
    clear: both;
}