@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

html {
    height: 100%;
}

body {
    direction: rtl;
    padding-bottom: 200px;
    background-color: #333;
    text-align: center;
}

* {
    font-family: 'Rubik', sans-serif !important;
}

h1 {
    text-align: center;
    color: white;
    margin: 16px;
}

.frame {
    width: 80%;
    max-width: 900px;
    min-height: 300px;
    background-color: #ffffffc9;
    margin: auto;
    padding: 8px 16px;
    border-radius: 6px;
    text-align: center;
}

.board {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
}

.board>div {
    width: 80px;
    height: 80px;
    border: 1px solid;
    font-size: 50px;
    padding: 10px;
    box-sizing: border-box;
}

.board>div:hover {
    cursor: pointer;
    background-color: rgb(0, 255, 8);
}