body {
    margin: 0;
    direction: rtl;
    font-family: sans-serif;
    background-image: linear-gradient(45deg, #494949, #d0f6dc);
}

header {
    color: white;
    padding-top: 6px;
    background-image: radial-gradient(#14a38b, #d8d8d8);
}

h1 {
    text-align: center;
    margin: 36px 0;
    font-size: 50px;
}

nav {
    background-color: #073e59;
    margin-top: 18px;
}

nav a {
    padding: 12px;
    font-size: 18px;
    color: white;
    display: inline-block;
    text-decoration: none;
}

nav a:hover {
    background-color: #00000061;
}

main {
    /* background-color: #dedede; */
    min-height: 100vh;
}

footer {
    text-align: center;
    color: white;
    padding: 20px;
    background-color: #073e59;
}

/* עיצוב כללי לכל הרשימות (תפריטים) */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* עיצוב לכל האייטימים
הגדרנו להם Position
בשביל התפריטים הנתפחים שיהיו ביחס אליהם */
li {
    display: inline-block;
    position: relative;
}

/* עיצוב התפריטים הנפתחים והסתרה ראשונית */
li ul {
    display: none;
    position: absolute;
    background-color: #14a38b;
    width: 150px;
}

/* כשעוברים על אייטם זה מציג את התפריט שלו (רק ילד) */
li:hover>ul {
    display: block;
}

/* עיצוב כל האייטמים שבתפריטים הנתפחים */
li>ul li {
    display: block;
}

/* עיצוב התפריט הנפתח הפנימי */
li>ul ul {
    top: 0;
    right: 100%;
    background: #31bca4;
}

/* עיצוב הקישרוים ע"מ שזה יוצג טוב במעבר עכבר */
li>ul li a {
    display: flex;
    justify-content: space-between;
}

/* עיצוב האייקון (משולש לכיוון מטה) */
.fa-sort-down {
    position: relative;
    top: -3px;
    margin-right: 3px;
}

/* הפיכת המשולש לצד שמאל */
.fa-sort-down.left {
    rotate: 90deg;
    top: 0;
}