@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

body {
    direction: rtl;
    background-color: #484848;
    padding-bottom: 200px;
}

* {
    font-family: 'Rubik', sans-serif !important;
}

h1 {
    text-align: center;
    color: white;
    margin: 16px;
}

.frame {
    width: 80%;
    max-width: 900px;
    min-height: 300px;
    background-color: #ffffffc9;
    margin: auto;
    padding: 8px 16px;
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    direction: ltr;
}

.frame>div {
    text-align: center;
    border: 1px solid;
    padding: 20px;
    position: relative;
}

.frame>div:hover {
    background-color: #8bc34a;
}

.frame>div:hover::after {
    content: attr(operation);
    display: block;
    position: absolute;
    padding: 8px;
    width: 150px;
    left: 100%;
    z-index: 2;
    top: 0;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 0 3px #3d3d3d;
    background-image: linear-gradient(45deg, #8bc34a, white);
    font-size: 24px;
}

/* עיצוב של 10 הראשונים */
.frame>div:nth-child(-n + 10),
/* עיצוב בדילוגים של 10 - החלנו מ-1 קדימה */
.frame>div:nth-child(10n + 1) {
    font-weight: bold;
    background-color: #f1ce3f;
}