@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

body {
    direction: rtl;
    background-color: #484848;
    padding-bottom: 200px;
}

* {
    font-family: 'Rubik', sans-serif !important;
}

h1 {
    text-align: center;
    color: white;
    margin: 16px;
}

.frame {
    width: 80%;
    max-width: 900px;
    min-height: 300px;
    background-color: #ffffffc9;
    margin: auto;
    padding: 8px 16px;
    border-radius: 6px;
}

.task {
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 12px;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    padding: 12px 0;
    margin: 0px;
}

button {
    background-color: #673ab7;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
}

button:hover {
    background-color: #8056c9;
}

input, select {
    border: 1px solid;
    padding: 8px 12px;
    border-radius: 5px;
    margin-top: 3px;
    max-width: 100%;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    margin: 30px auto;
    direction: ltr;
}

td {
    height: 50px;
    width: 50px;
    border: 1px solid;
    text-align: center;
    font-size: 25px;
    position: relative;
}

tr:first-child td,
td:first-child {
    background-color: chartreuse;
}

td::after {
    content: attr(operation);
    position: absolute;
    display: none;
    width: 180px;
    background: #009688;
    padding: 8px;
    z-index: 2;
    border-radius: 0;
    color: white;
    left: 100%;
    bottom: 100%;
    border: 3px solid black;
}

td:hover {
    background: #009688 !important;
    color: white;
}

td:hover::after {
    display: block;
}